* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #1f2937;
  font-family: roboto;
  height: 550px;
}

.header-hero-main {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin-bottom: 32px;
}

.sec-text {
  font-size: 18px;
  color: #e5d7eb;
}

.pp {
  margin-bottom: 16px;
}

.nav-cntr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.nav-cntr div {
  margin: 16px;
  margin-top: 32px;
}

.inn-nav-cntr-one {
  display: flex;
}

.logo-image {
  margin-left: 184px;
}

.inn-nav-cntr-two {
  display: flex;
}

a {
  margin-right: 100px;
}

.header-su {
  border-radius: 8px;
  background-color: #3882f6;
  color: #f9faf8;
  padding: 8px 24px 8px 24px;
  border: 0;
}

.hd-sec-row-cntr {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
}

.hd-sec-row-one {
  margin-left: 200px;
}

.hd-sec-row-two {
  margin-right: 200px;
}

.body-sect {
  background-color: aquamarine;
}
