* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #1f2937;
  font-family: roboto;
}

.header-hero-main {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.sec-text {
  font-size: 18px;
  color: #e5d7eb;
}

.nav-cntr {
  display: flex;
  justify-content: space-between;
}

.nav-cntr div {
  margin: 16px;
}

.inn-nav-cntr-one {
  display: flex;
}

.logo-image {
  margin-left: 184px;
}

.inn-nav-cntr-two {
  display: flex;
}

a {
  margin-right: 100px;
}

.header-su {
  background-color: #3882f6;
  color: #f9faf8;
  margin: 4px;
  margin-left: 0;
  padding: 4px;
}

.hd-sec-row-cntr {
  display: flex;
  justify-content: space-between;
}

.hd-sec-row-one {
  margin-left: 200px;
}

.hd-sec-row-two {
  margin-right: 200px;
}
